#calculator {
    width: 450px;
    height: 500px;
    margin: 16px auto 0px auto;
    display: flex;
    flex-direction: column;
    border-width: 8px;
    border-color: #cccccc;
    border-radius: 8px;
    border-style:solid;
    background-color: #03c4ff;
}

#display {
    background-color:#047ca0;
    flex: 1 1 25%;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: #03c4ff;
    border-width: 4px;
    border-style: solid;
}

#buttons {
    display: flex;
    background-color: rgb(44, 26, 4);
    flex: 1 1 75%;
    border-width: 8px;
    border-style: solid;
    border-radius: 8px;
    border-color: #03c4ff;
}

button {
    border-width: 0.5px;
    border-color: rgb(228, 227, 227);
    border-style:solid
}

#numbers {
    display:flex;
    flex-wrap: wrap;
    flex: 1 1 65%;
}

#numbers button {
    flex:1 1 33.3%;
    font-size: 50px;
    color: rgb(68, 67, 67);
}

#numbers :last-child {
    flex-basis: 66.6%;
    font-family:monospace;
    font-weight:900;
    font-size: 40px;
    color:darkgray;
}

#actions {
    display:flex;
    flex: 1 1 35%;
    flex-wrap: wrap;
}

#actions button {
    flex: 1 1 50%;
    font-size: 50px;
    font-family:monospace;
    font-weight:900;
    font-size: 40px;
    color:darkgray;
}

#display {
    font-size: 24px;
    color:rgb(255, 255, 255);
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}